#section1 {
  background-image: url('materials/Hero-bg.png');
  /* background img ashe na why? */
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-align {
  text-align: center;
}

.display-flex {
  display: flex;
}

#section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#section3 {
  text-align: center;
}